<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${page}"></title>
    <link th:href="'/static/style.css'" th:rel="'stylesheet'" th:type="'text/css'">
</head>
    <body>
    <form th:action="'/login'" th:method="post">
            <label th:for="'username'" th:text="'Username'"></label>
            <input th:type="'text'" th:placeholder="'username'" th:id="'username'" th:name="'username'">

            <label th:for="'password'" th:text="'Password'"></label>
            <input th:type="'password'" th:placeholder="'password'" th:id="'password'" th:name="'password'">

            <input th:type="'submit'">
        </form>
    </body>
</html>