<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:include="'/fragments/header.html' :: header (${user},${page})"></div>
    <main>
        <a th:href="'/'+${user.getId()} + '/newReddit'" th:text="'Submit new Reddit'"></a>
        <h1 th:text="'Trending Reddits'"></h1>
        <div>
            <div th:each="reddit : ${reddits}">
                <p th:text="${reddit.getId()}"></p>
                <p th:text="${reddit.getVotes()}"></p>
                <button type="button" th:onclick="${reddit.upvote()}"></button>
                <button type="button" th:onclick="${reddit.downvote()}"></button>
                <p th:text="${reddit.getTitle()}"></p>
            </div>
        </div>
    </main>
    <div th:include="'/fragments/footer.html' :: footer (${user},${page})"></div>
</body>
</html>