body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    width: -webkit-fill-available;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-flex;
    width: 100px;
    height: 50px;
    align-items: center;
    margin: 10px;
}

nav ul li a {
    display: flex;
    color: #D3920F;
    text-decoration: none;
    background: #6C3F4E;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    min-width: 320px;
}

table {
    width: 90%;
    max-width: 750px;
    border-collapse: collapse;
}

thead {
    font-size: 1.5em;
}

tr:first-child {
    border-radius: 10px 10px 0 0;

}

td:first-child {
    padding-left: 10px;
}

tr {
    height: 40px;
}

tr:nth-child(even) {
    background: #6C3F4E;
    color: #D3920F;
}

tr:nth-child(odd) {
    background:#D3920F;
    color: #6C3F4E;
}

tr:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

tr:last-child {
    border-radius: 0 0 10px 10px;
}

button {
    display: flex;
    color: #D3920F;
    background: #6C3F4E;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4){
    text-align: center;
}



@media (min-width: 520px) {
    header {
        flex-direction: row;
    }

    nav ul {
        justify-content: flex-end;
    }

    tr {
        height: 80px;
    }
}