$font__primary : 'Muli', sans-serif;

$color-primary : #6C3F4E;
$color-secondary : #D3920F;

$font__weight--thin : 400;
$font__weight--medium : 700;
$font__weight--bold : 900;

$font__size--regular : 1.5em;
