<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank of Simba</title>
    <link type="text/css" rel="stylesheet" th:href="'/style.css'">
</head>
<body>
    <header>
        <img th:src="'/logo.jpg'">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a th:href="'users'">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <table th:class="'users'">
            <thead>
                <tr >
                    <td th:colspan="4"  th:text="'List of users'"></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><a th:href="'/show/'+ ${user.getName()}" th:text="${user.getName()}"></a></td>
                    <td th:text="${users.indexOf(user)}">
                    <td th:text="${user.getAnimalType()}"></td>
                    <td th:text="${user.isGood()} ? 'Good guy' : 'Bad guy'">
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>