<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy (fox, page)">
    <header>
        <div class="container">
            <a th:href="'/'" > <img th:src="'/static/images/greenfox.png'" th:alt="'Picture of green fox'" class="logo"></a>
            <nav>
                <ul th:style="${fox}? 'display : flex' : 'display : none'" class="navigation scroll">
                    <li th:class="'nav__item'" th:classappend="${page=='index'}? 'nav__item--active' : ''"><a th:href="'/' + ${fox.name}" th:text="'Profile'"></a></li>
                    <li th:class="'nav__item'"><a th:href="'/login'" th:text="'Logout'"></a></li>
                    <li th:class="'nav__item'" th:classappend="${page=='nutritionStore'}? 'nav__item--active' : ''"><a th:href="'/nutritionStore/' + ${fox.name}" th:utext="'Nutrition  <br>Store'"></a></li>
                    <li th:class="'nav__item'" th:classappend="${page=='trickCenter'}? 'nav__item--active' : ''"><a th:href="'/trickCenter/'  + ${fox.name}" th:utext="'Trick <br>Center'"></a></li>
                    <li th:class="'nav__item'" th:classappend="${page=='adminPage'}? 'nav__item--active' : ''" th:style="${fox.isAdmin()}? 'display : flex' : 'display : none'"><a th:href="'/adminPanel/' + ${fox.getName()}" th:text="'Administration'" ></a></li>
                </ul>
            </nav>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="display: none" >
            <symbol  id = "heart" viewBox="0 0 24 24">
                <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
            </symbol>
        </svg>

    </header>
</div>