<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Green Fox Club | Login</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body th:style="'background : #3CB879'">
<main>
    <img th:src="'/static/images/greenfox.png'" th:alt="'Picture of green fox'" class="login__logo">

    <div th:class="'container__login'">
        <h1 th:text="'GREEN FOX CLUB'"></h1>
        <form th:method="post" th:action="'/login/loggedIn'">
            <label for="name" th:text="'Name: '"></label>
            <input type="text" id="name" name="porky" th:placeholder="'Name'">
            <button class="btn" type="submit" th:text="'login'"></button>
        </form>
    </div>
</main>
</body>
</html>