<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Green Fox Club | Trick Center</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:include="header :: copy (${fox}, ${page})"></div>
<main>
    <form th:method="post" th:action="'/trickCenter/' + ${fox.getName()}">
        <div class="form__row">
            <label for="trickSelection" th:text="'Trick to learn: '" th:style="'display : none'"></label>
            <select id="trickSelection" name="trick">
                <option  th:each="trick : ${tricks}" th:text="${trick.getTrick()}"></option>
            </select>
        </div>
        <button th:class="'btn'" type="submit" th:text="'Change'"></button>
    </form>
</main>
</body>
</html>